body {
    margin: 0;
    overflow-x: hidden;
    /* background-image: linear-gradient(#ebf5ff, #85c4ff); */
    background-color: var(--background);
    --other: hsl(from var(--background) h s calc(l + 5));
    background-image: linear-gradient(var(--other), var(--background));
    height: 100vh;
}
section {
    margin: 15px;
}
a {
    color: hsl(from var(--text) h s calc(l - 10));
    text-decoration: none;
}
.contacts {
    display: flex;
    gap:10px;
    padding: 15px;
    background-color: var(--container);
    border-radius: 5px;
}