:root {
    --primary-color: #0073ff;
    --primary-color-hover: #2a8aff;
    --secondary-color: #d2d2d2;
    --secondary-color-hover: #f0f0f0;
}
.puffy_button{
    --side-padding: 40px;
    padding: 10px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    border-radius: 5px;
    transition-duration: 250ms;
    background-color: var(--secondary-color);
    outline: none;
    font-size: 20px;
    color: white;
    cursor:pointer;
}
button,
button:active,
button:focus {
  outline: none;
}
.puffy_button.primary {
    background-color: var(--primary-color);
}
.puffy_button.primary:hover{
    background-color: var(--primary-color-hover);
}

.puffy_button.secondary:hover {
    background-color: var(--secondary-color-hover);
}