h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
#topnav {
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    padding: 15px;
    z-index: 3;
    backdrop-filter: blur(6px);
    color: white;
    background-image: linear-gradient(#000000e0, #0000005e);
}
#topnav a{
    color: white;
    text-decoration:dashed;
    transition-duration: 250ms;
}
#topnav a:hover {
    scale: 1.05;
    text-decoration: underline;
}
/* #topnav_blur{
    z-index: 2;
    filter: blur(6px);
    position: fixed;
    left:0;
    top:0;
    width:100vw;
    padding: 15px;
} */