h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
#topnav {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 15px;
    background-color: grey;
}
#topnav__right {
    transform: translate(-50%, -50%);
}