body {
    background-image: linear-gradient(180deg, #b9e4ff, #617685);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.section__center {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    text-align: center;
}