body {
    margin: 0;
    overflow-x: hidden;
    /* background-image: linear-gradient(#ebf5ff, #85c4ff); */
    background-color: var(--background);
    --other: hsl(from var(--background) h s calc(l + 5));
    background-image: linear-gradient(var(--other), var(--background));
    height: 100vh;
    overflow: hidden;
}
* {
    box-sizing: border-box;

}
.maincontainer {
    display:flex;
    flex-direction: column;
    gap:5px;
}
.otheractions {
    display: flex;
    /* color: var(--text); */
    padding: 5px;
    gap:10px;
    justify-content: space-evenly;
}
.otheractions > *[hide] {
    display: none;
}
.otheractions > *:not([hide]) {
    text-decoration: none;
    color: var(--text);
    display: flex;
    align-items: center;
    gap:7px;
    font-size: 14px;
}
.otheractions > *:hover{
    text-decoration: underline;
}