body {
    background-image: linear-gradient(#ffffff, #80b5d8);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    overflow:hidden;

    padding-left:235px;
}
section {
    height: 90%;
    overflow-y: scroll;
}
:root {
    --sidenav-size: 225px;
}
#sidenav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidenav-size);
    height: 100vh;
    background-color: #00000075;
    border-right: 5px solid black;

    --side-spacing: 10px;
}
#sidenav_upper {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    padding-top: 10px;
    padding-left: var(--side-spacing);
    padding-right: var(--side-spacing);
}
#sidenav_lower {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: var(--side-spacing);
    padding-right: var(--side-spacing);
}
.profile_card {
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: #0000001f;
    padding: 15px;
    gap:5px;
    overflow: hidden;
}
#basicInfo {
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#badges {
    display:flex;
    gap:10px;
    justify-content: end;
    width: 100%;
    justify-content: space-evenly;
}
#badges2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.badge {
    display:flex;
    gap:5px;
    align-items: center;
    font-size: 24px;
}
#badgeex {
    display: none;
}

.maincontainer {
    display:flex;
    /* align-items:start; */
    justify-content: stretch;
}
.maincontainer > div {
    padding: 10px;
    /* background-color: #0000001f; */
    border-radius: 8px;
}
.maincontainer > div[left] {
    display:flex;
    flex-direction: column;
    gap:5px;
    border-right: 1px solid black;
}
.maincontainer > div[right] {
    border-left: 1px solid black;
    flex: 1;
}
#datav2 {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 8px;
    display:flex;
    background-color: #00a2ff3b;
    justify-content: space-between;
}
#quickStats {
    display:flex;
    width: 100%;
    gap:15px;
    justify-content: space-evenly;
}

.quickstat {
    color:black;
    text-decoration: none;
    text-align: center;
}
.quickstat:hover {
    text-decoration: underline;
}
#incoming_friend_requests {
    background-color: #0000001f;
}
.request {
    background-color: #0000001f;
    display:flex;
    justify-content: space-between;
    color:black;
}
.request > div[actions] {
    display:flex;
    gap:5px;
    align-items: center;
}
#requestex {
    display: none;
}
#noincomingfriends {
    display:flex;
    gap:5px;
    background-color: #0000001f;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}