body {
    overflow-x: hidden;
    /* background-image: linear-gradient(#ebf5ff, #85c4ff); */
    background-color: var(--background);
    --other: hsl(from var(--background) h s calc(l + 5));
    background-image: linear-gradient(var(--other), var(--background));
    height: 100vh;

    padding-left:235px;
    margin: 0;
    display: flex;
    align-items: center;
}
/* body:not([disableThemes]) {
    background-image: url("../asset/detail/christmasBackground.png");
    backdrop-filter: blur(24px);

    background-size: cover;
} */
section {
    height: 90%;
    overflow-y: scroll;
    flex:1;
    margin: 15px;

    display: flex;
    flex-direction: column;
    gap:10px;
}
/* body:not([disableThemes]) section {
    
    background-color: rgba(255,255,255,.3);
} */
:root {
    --sidenav-size: 225px;
}
#sidenav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidenav-size);
    height: 100vh;
    background-color: var(--container);
    border-right: 5px solid black;

    --side-spacing: 10px;
}
#sidenav * {
    text-decoration: none;
}
#sidenav_upper {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    padding-top: 10px;
    padding-left: var(--side-spacing);
    padding-right: var(--side-spacing);
}
#sidenav_lower {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: var(--side-spacing);
    padding-right: var(--side-spacing);
}
.profile_card {
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--container);
    padding: 15px;
    gap:5px;
    overflow: hidden;
    color: var(--text);
}
#basicInfo {
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#badges {
    display:flex;
    align-items: center;
    justify-content: end;
    gap:10px;
}
#badges2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.badge {
    display:flex;
    gap:5px;
    align-items: center;
    font-size: 24px;
}
#badgeex {
    display: none;
}

.maincontainer {
    display:flex;
    flex-direction: column;
    gap:10px;
    flex:1;
}
#datav2 {
    padding: 10px;
    border-radius: 5px;
    display:flex;
    align-items: center;
    background-color: #00a2ff3b;
    justify-content: space-between;
}
#quickStats {
    display:flex;
    width: 100%;
    gap:15px;
    justify-content: space-evenly;
}

/* .quickstat {
    color:var(--text);
    text-decoration: none;
    text-align: center;
}
.quickstat:hover {
    text-decoration: underline;
} */
#incoming_friend_requests {
    background-color: var(--container);
}
.request {
    background-color: var(--container);
    display:flex;
    justify-content: space-between;
    color:black;
}
.request > div[actions] {
    display:flex;
    gap:5px;
    align-items: center;
}
#requestex {
    display: none;
}
#noincomingfriends {
    display:flex;
    gap:5px;
    background-color: var(--container);
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

a, button {
    text-decoration: none;
}
#notemailverified {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile {
    display: flex;
    gap:10px;
    align-items: center;
}
.profile #username {
    font-size: 2rem;
}
.quickies {
    display: flex;
    gap:10px;
}
.quickies > * {
    flex:1;
}
.profile #uid {
    opacity: .5;
    font-size: .75rem;
}
.quickstat > i {
    font-size: 3rem;
}
.quickstat > p {
    opacity: .6;
}
.quickstat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    padding: 2rem;
    font-size: 1.25rem;
    transition-duration: 250ms;
    border-radius: 5px;
    background-color: var(--container);
}
.maincontainer > * {
    flex: 0 0 auto;
}
.fullflex {
    flex: 1 0 auto;
}
.seperated {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#originalCreation {
    font-size: .75rem;
}