
#coverimg {
    object-fit: contain;
}
/* #qimg {
    object-fit: contain;
} */
.questionImageContainer{
    /* width: 512px;
    height: 288px; */
    aspect-ratio: 16/9;
    background-color: black;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    /* max-height: 35vh; */
    height: 50vh;
}
.questionImageContainer > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}
#imageoptions{
    padding: .5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.centerImageOptions {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -45%);
    width: 50%;
    height: 50%;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem min(5rem, 5vw);
    text-align: center;
    justify-content: center;
    min-height: fit-content;
    gap:.5rem;
    opacity: 0;
    transition-duration: 250ms;
}
#imgDragDrop {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--background-rgb),.5);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    min-height: fit-content;
    gap:.5rem;
    opacity: 0;
    transition-duration: 250ms;
}
#imgDragDrop[show] {
    opacity: 1;
}
.questionImageContainer:hover > .centerImageOptions {
    transform: translate(-50%, -50%);
    opacity: 1;
}
#basic_info {
    display:flex;
    gap:10px;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #0000002f; */
    /* height: fit-content; */
}
#questions_container {
    flex-basis: 100%;
}
#main_container, #advancedSettings{
    display: none;
}
#sectioncontent[main] > #main_container {
    display:flex;
    gap: 20px;
}
#sectioncontent[advanced] > #advancedSettings {
    display:flex;
    gap: 5px;
    flex-direction: column;
}
.question {
    display:flex;
    gap:10px;
    align-items: center;
}
#questions {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    /* align-items: center; */
}
@media(max-width:1130px) {
    #questions {
        flex-direction: column;
    }
}
@media(max-width:880px) {
    #createquestionpopup {
        box-sizing: border-box;
        margin: 1rem;
    }
}
@media(max-width:545px) {
    .centerImageOptions h1 {
        display: none;
    }
    .centerImageOptions {
        padding: .75rem;
        width: 75%;
    }
}
#questioncontainer {
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5px;
}
#questioncontainer * {
    box-sizing: border-box;
}
.questionbox {
    --padding: .5rem;
    display:flex;
    border-radius: 10px;
    position: relative;
    flex:1;
    align-items: center;
    padding: var(--padding);
}
.questionbox > textarea {
    /* position: absolute;
    left:0;
    top:0; */
    /* width: 100%; */
    font-size: 1.25rem;
    /* height: 100%; */
    background-color: transparent;
    border:none;
    outline: none;
    color:var(--text);
    padding: calc(var(--padding)/2);
    text-align: center;
    resize: none;
}
.questionbox > input[type="checkbox"] {
    border-radius: .25rem;
    padding: .5rem;
}
#allQuestions {
    display:flex;
    gap:10px;
    flex-direction: column;
}
#ex {
    display:none;
}
#questioncontainer_top {
    display:flex;
    flex-direction: column;
    gap:5px;
}
#questioncontainer_imgoptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:10px;
}

#cover__overlay {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -52%);
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap:10px;
    background-color: #00000081;
    justify-content: center;
    /* align-items: center; */
    opacity: 0;
    padding: 0 5rem;
    box-sizing: border-box;
    
    transition-duration: 250ms;
}
#cover__overlay[show] {
    opacity: 1;
}
#button_container {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}
#pluskit {
    position: absolute;
    top:10px;
    right:10px;
}
.question_content{
    display: flex;
    flex-direction: column;
}
.question_content > * {
    flex:1;
}
.question_answers{
    display: flex;
    padding: 1rem;
    gap:10px;
}
.question_answers > * {
    padding: 1rem 2rem;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:5px;
    font-size: 2rem;
    background-color: var(--container);
    border-radius: 5px;
}
.question_answers i.fa-square-check {
    color: rgb(169, 255, 169);
}
.question_actions{
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
}
.question_answers > *[correct] {
    background-image: linear-gradient(rgba(120, 248, 152, 0.199), var(--container));
}
.unsaved {
    padding: 0 15px;
    background-color: var(--accent-trans);
    border-radius: 5px;
    display: flex;
    gap:5px;
    align-items: center;
}
.questionActions {
    display: flex;
    /* flex-direction: column; */
    gap:5px;
    align-items: center;
}
.mainIcon {
    font-size: 2rem;
}
.statContainer {
    display: flex;
    flex-direction: column;
    gap:5px;
}
.stat {
    font-size: .75;
    display: flex;
    align-items: center;
    gap:5px;
}
.stat > div > h1 {
    opacity: .5;
}
.stat > div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap:5px; */
    justify-content: center;
}