#coverimg {
    object-fit: contain;
}

#basic_info {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #0000002f;
    height: fit-content;
}

#questions_container {
    flex-basis: 100%;
}

#main_container {
    display: flex;
    gap: 20px;
}

.question {
    background-color: #0000002f;
    display: flex;
    gap: 5px;
    align-items: center;
}

#questions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#questioncontainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5px;
}

.questionbox {
    display: flex;
    border-radius: 10px;
}

#allQuestions {
    display: flex;
    overflow-y: scroll;
    gap: 10px;
    flex-direction: column;
}

#ex {
    display: none;
}