.user_container {
    background-color: #0000001f;
}
.user_info_containers {
    display:flex;
    gap:5px;
    flex-direction: column;
}
.status {
    background-color: #0000001f;
}
.status.ingame {
    background-color: #00a03d5b;
}
.status.online {
    background-color: #007ba05b;
}
#blues {
    display:flex;
    gap:5px;
    flex-wrap: wrap;
}
.bluek{
    display:flex;
    align-items: center;
    cursor: pointer;
}
#blue_ex {
    display: none;
}
.kit {
    display:flex;
    justify-content: space-between;
    background-color: #0000002f;
}
#kitex {
    display: none;
}
.kit_left {
    display:flex;
    align-items: center;
    gap: 10px;
}
.kit_right {
    display:flex;
    align-items: center;
    gap: 10px;
    
}
#kits {
    display:flex;
    flex-direction: column;
    gap:5px;
}