.user_info_containers {
    display:flex;
    gap:5px;
    flex-direction: column;
}
.status.ingame {
    background-color: #00a03d5b;
}
.status.online {
    background-color: #007ba05b;
}
#allblues {
    display:flex;
    gap:5px;
    flex-wrap: wrap;
}
.bluek{
    display:flex;
    align-items: center;
    cursor: pointer;
}
#blue_ex {
    display: none;
}
.kit {
    display:flex;
    justify-content: space-between;
}
#kitex {
    display: none;
}
.kit_left {
    display:flex;
    align-items: center;
    gap: 10px;
}
.kit_right {
    display:flex;
    align-items: center;
    gap: 10px;
    
}
#allkits {
    display:flex;
    flex-direction: column;
    gap:5px;
}
.profile_card {
    flex-direction: row;
    padding: 10px;
}
#basicInfo {
    justify-content: unset;
}
.badge {
    padding: 5px;
}
.topprofile {
    display: flex;
    justify-content: space-between;
}
.topcontainer{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.bottomcontainer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#tabs{
    display: flex;
    gap:10px;
}
#tabs > * {
    flex:1;
    font-size: 1.25rem;
}
.section {
    flex:1;
}
.section:not([show]) {
    display: none;
}
.friend {
    display: flex;
    align-items: center;
    gap:5px;
    justify-content: space-between;
}
.friendinfo {
    display: flex;
    align-items: center;
    gap:5px;
    font-size: 1.5rem;
}
.friendactions {
    display: flex;
    gap:5px;
}
#friendex {
    display: none;
}
#allfriends {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
}