section {
    height: 95%;
    overflow-y: scroll;
}
.request {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#requestex {
    display: none;
}
#sentrequestex {
    display:none;
}
#friendex {
    display:none;
}