section {
    height: 95%;
    overflow-y: scroll;
}
.request {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#requestex {
    display: none;
}
#sentrequestex {
    display:none;
}
#friendex {
    display:none;
}
#allsearched {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 25vh;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}