body {
    display: flex;
}
.all {
    display:flex;
    flex-direction: column;
    gap:5px;
}
#kits, #favoritekits {
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}
.kit {
    display:flex;
    justify-content: space-between;
    /* background-color: #0000002f; */
}
.kit_left {
    display:flex;
    align-items: center;
    gap: 10px;
}
.kit_right {
    display:flex;
    align-items: center;
    gap: 10px;
    
}
#kit_contextmenu {
    display:none;
    gap:5px;
    flex-direction: column;
    /* align-items: center; */
    padding: 5px;

    position: absolute;
    background-color: #00000073;
    border-radius: 5px;
    z-index: 8;
}
#kit_contextmenu[show] {
    display: flex;
}
#example {
    display:none;
}
#publicexample {
    display:none;
}
#allpublickits {
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.puffy_button.blooket {
    display: flex;
    align-items: center;
    gap:5px;
    background-color: #07919b;
}
.puffy_button.quizlet {
    display: flex;
    align-items: center;
    gap:2px;
    background-color: #423ed8;
}
.puffy_button.gimkit {
    display: flex;
    align-items: center;
    gap:2px;
    background-color: #57067e;
}
.btnlist {
    display: flex;
    flex-direction: column;
    gap:5px;
    margin: 10px;
}
.top {
    display: flex;
    justify-content: space-between;
}
.top > div {
    display: flex;
    gap:5px;
}
.bkptag {
    position: absolute;
    top: .5rem;
    right:.25rem;
}