.pack {
    background-color: #0000002f;
}
.pack.compact {
    display:flex;
    align-items: center;
    gap:10px;
}
.pack.long {
    align-items: center;
    width: fit-content;
    display:flex;
    flex-direction: column;
    text-align: center;
}
#packex {
    display: none;
}
#pack_container {
    display: flex;
    padding-right: 30px;
    gap: 10px;
    align-items: center;
    background-color: #0000001f;
}